{% extends 'inventory/base.html' %}

{% block content %}
    <form action='inventory/history.html' method='post'>{% csrf_token %}
            {{ form.as_p }}
            <input type='submit' value='Submit' />
    </form>
    
    <h1><ul>Incoming History</ul></h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th> Name</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

            <tr>
                <th>
                    <a href="{% url 'detail' product.pk %}">
                        {{ incoming.pk }}
                    </a>
                </th>
                <td>{{ incoming.name }}</td>
                <td>{{ incoming.cetagory }}</td>
                <td>{{ incoming.supplier }}</td>
                <td>{{ incoming.unit_price }}</td>
                <td>{{ incoming.quantity }}</td>
                <td>{{ incoming.date }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <h1><ul>Outgoing History</ul></h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th> Engineer Name</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

            <tr>
                <th>
                    <a href="{% url 'detail' product.pk %}">
                        {{ outgoing.pk }}
                    </a>
                </th>
                <td>{{ outgoing.product_id }}</td>
                <td>{{ outgoing.engg_name }}</td>
                <td>{{ outgoing.quantity }}</td>
                <td>{{ outgoing.date }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
