{% extends 'inventory/base.html' %}

{% block content %}

    
        <a href="{% url 'addnew' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> + Incoming Products</a>
        <a href="{% url 'outgoing' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> - Outgoing Products</a>
    

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th> Name</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for incoming in lookups %}

            <tr>
                <th>
                    <a href="{% url 'detail' incoming.pk %}">
                        {{ incoming.pk }}
                    </a>
                </th>
                <td>{{ incoming.name }}</td>
                <td>{{ incoming.cetagory }}</td>
                <td>{{ incoming.supplier }}</td>
                <td>{{ incoming.unit_price }}</td>
                <td>{{ incoming.quantity }}</td>
                <td>{{ incoming.date }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

