{% extends 'inventory/base.html' %}

{% block content %}

    
        <a href="{% url 'addnew' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> + Incoming Products</a>
        <a href="{% url 'outgoing' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> - Outgoing Products</a>
    

    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th> Name</th>
            <th>Category</th>
            <th>Supplier</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}

            <tr>
                <th>
                    <a href="{% url 'detail' product.pk %}">
                        {{ product.pk }}
                    </a>
                </th>
                <td>{{ product.name }}</td>
                <td>{{ product.cetagory }}</td>
                <td>{{ product.supplier }}</td>
                <td>{{ product.unit_price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.date }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

