{% extends 'inventory/base.html' %}

{% block content %}

    
        
    <table class="table table-hover">
        <thead>
        <tr bgcolor="#FF7F50">
            <th>Serial Number</th>
            <th>Product Id</th>
            <th>Engineer Name</th>
            <th>Quantity</th>
            <th>Date</th>
            
        </tr>
        </thead>
        <tbody>
        {% for outgoing in lookups %}

            <tr bgcolor="#C0C0C0">
                <th>
                    <a href="{% url 'detail' outgoing.pk %}">
                        {{ outgoing.pk }}
                    </a>
                </th>
                <td>{{ outgoing.product_id }}</td>
                <td>{{ outgoing.engg_name }}</td>
                <td>{{ outgoing.quantity }}</td>
                <td>{{ outgoing.date }}</td>
                
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

